.screenshot-2024-04-23-at-3592 {
  height: 56px;
  width: 88px;
  position: relative;
  object-fit: cover;
}
.calvary-yaem3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.frame-div,
.nav-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.nav-bar-container {
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 0;
  gap: var(--gap-5xs);
  font-size: var(--card-title-size);
}
.visit-us1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 76px;
}
.sundays-1pm1 {
  margin-block-start: 0;
  margin-block-end: 11px;
  white-space: pre-wrap;
}
.ryders-lane-east1 {
  margin: 0;
}
.sundays-1pm-daniel-container1 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-sf-pro-text);
}
.frame-wrapper,
.visit-us-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.visit-us-group {
  gap: var(--gap-base);
}
.frame-wrapper {
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.stay-connected1 {
  position: relative;
  font-weight: 600;
}
.stay-connected-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.yaemcalvarygmailcom1 {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.yaemcalvarygmailcom-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.raphaelfacebook-icon1 {
  width: 32px;
  height: 34px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.raphaelfacebook-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.uilinstagram-alt-icon1 {
  height: 36px;
  width: 34px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 36px;
}
.email-input-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-parent2 {
  align-self: stretch;
  gap: var(--gap-smi);
  font-size: var(--font-size-base);
  font-family: var(--font-sf-pro-text);
}
.frame-parent1,
.frame-parent2,
.top-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  gap: var(--gap-xl);
}
.top-bar {
  width: 235px;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.nav-bar-container-parent {
  width: 1089px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.calvary-yaem-all1 {
  position: relative;
}
.bottom-bar-instance,
.bottom-bar1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.bottom-bar-instance {
  width: 1099px;
  flex-direction: row;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.bottom-bar1 {
  margin-right: -3px;
  align-self: stretch;
  box-shadow: 0 3px 10.8px 5px rgba(197, 197, 197, 0.09);
  background-color: var(--color-gainsboro-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-52xl) var(--padding-115xl) var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--button-text-size);
  color: var(--color-black);
  font-family: var(--card-title);
}
@media screen and (max-width: 1200px) {
  .bottom-bar1 {
    padding-left: var(--padding-48xl);
    padding-right: var(--padding-48xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .calvary-yaem3 {
    font-size: var(--font-size-7xl);
  }
  .nav-bar-container-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .bottom-bar1 {
    gap: var(--gap-31xl);
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .calvary-yaem3 {
    font-size: var(--font-size-lgi);
  }
  .nav-bar-container {
    flex-wrap: wrap;
  }
  .stay-connected1,
  .visit-us1 {
    font-size: var(--font-size-base);
  }
  .bottom-bar1 {
    gap: var(--gap-6xl);
  }
}
