.image-1-icon1 {
  height: 357px;
  width: 515px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.events4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
.frame-wrapper7,
.image-1-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-1-parent {
  height: 357px;
  width: 515px;
  padding: var(--padding-19xl) var(--padding-159xl);
  box-sizing: border-box;
  background-image: url(/public/image-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  debug_commit: 1de1738;
  max-width: 115%;
}
.frame-wrapper7 {
  height: 308px;
  width: 451px;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightgray);
  overflow: hidden;
  min-width: 451px;
  max-width: 100%;
}
.unsplashgpcodheuwn0-icon1 {
  height: 357px;
  width: 515px;
  position: relative;
  border-radius: var(--br-14xl);
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.resources6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.frame-parent11,
.frame-wrapper8,
.unsplashgpcodheuwn0-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.unsplashgpcodheuwn0-group {
  height: 357px;
  width: 515px;
  border-radius: var(--br-14xl);
  padding: var(--padding-17xl) var(--padding-134xl);
  box-sizing: border-box;
  background-image: url(/public/unsplashgpcodheuwn0@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 115%;
}
.frame-parent11,
.frame-wrapper8 {
  max-width: 100%;
}
.frame-wrapper8 {
  height: 308px;
  width: 449px;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightgray);
  overflow: hidden;
  flex-shrink: 0;
  min-width: 451px;
}
.frame-parent11 {
  gap: var(--gap-2xl);
}
.image-2-icon1 {
  width: 1055px;
  height: 357px;
  position: absolute;
  margin: 0 !important;
  right: -134px;
  bottom: -49px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.connect-with-us4,
.connect-with-us5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.connect-with-us5 {
  z-index: 2;
  margin: 0 0 0-244px;
}
.connect-with-us-container,
.frame-wrapper9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper9 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.we-would-love2 {
  align-self: stretch;
  position: relative;
  font-size: var(--button-text-size);
  font-family: var(--font-sf-pro-text);
  text-align: center;
  z-index: 1;
}
.frame-parent12 {
  width: 578px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.enter-info2 {
  position: relative;
  font-size: var(--button-text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--card-title);
  color: var(--color-dimgray);
  text-align: left;
  min-width: 117px;
}
.email-subscription,
.email-subscription-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.email-subscription {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-mini)
    var(--padding-2xl);
  background-color: var(--color-gainsboro-200);
  width: 280px;
  border-radius: var(--br-13xl);
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.email-subscription:hover {
  background-color: var(--color-silver);
}
.email-subscription-wrapper {
  width: 578px;
  max-width: 100%;
}
.image-2-group {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightgray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-37xl) var(--padding-xl) var(--padding-49xl)
    var(--padding-2xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
  color: var(--color-white);
}
.frame-parent10,
.frame-section {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent10 {
  width: 921px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-32xl);
}
.frame-section {
  width: 1427px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-223xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--card-title-size);
  color: var(--color-black);
  font-family: var(--card-title);
}
@media screen and (max-width: 1050px) {
  .events4 {
    font-size: var(--font-size-7xl);
  }
  .frame-wrapper7 {
    flex: 1;
  }
  .resources6 {
    font-size: var(--font-size-7xl);
  }
  .frame-wrapper8 {
    flex: 1;
  }
  .frame-parent11 {
    flex-wrap: wrap;
  }
  .connect-with-us4,
  .connect-with-us5 {
    font-size: var(--font-size-7xl);
  }
  .frame-section {
    padding-bottom: var(--padding-138xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-wrapper7,
  .frame-wrapper8 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .events4 {
    font-size: var(--font-size-lgi);
  }
  .image-1-parent {
    padding-left: var(--padding-70xl);
    padding-right: var(--padding-70xl);
    box-sizing: border-box;
  }
  .resources6 {
    font-size: var(--font-size-lgi);
  }
  .unsplashgpcodheuwn0-group {
    padding-left: var(--padding-57xl);
    padding-right: var(--padding-57xl);
    box-sizing: border-box;
  }
  .connect-with-us4,
  .connect-with-us5 {
    font-size: var(--font-size-lgi);
  }
  .we-would-love2 {
    font-size: var(--font-size-base);
  }
  .frame-parent10 {
    gap: var(--gap-6xl);
  }
  .frame-section {
    padding-bottom: var(--padding-83xl);
    box-sizing: border-box;
  }
}
