.unsplashnsn5labyy-m-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 686px;
  object-fit: cover;
}
.welcome-to-calvary2 {
  margin: 0;
  position: absolute;
  top: 265px;
  left: 131px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.we-love-god2 {
  margin: 0;
  white-space: pre-wrap;
}
.we-love-god-container2 {
  position: absolute;
  top: 336px;
  left: 131px;
  font-size: var(--button-text-size);
  font-family: var(--font-sf-pro-text);
  display: inline-block;
  width: 585px;
  height: 81px;
  z-index: 1;
}
.service-info2 {
  position: relative;
  font-size: var(--button-text-size);
  text-transform: uppercase;
  font-family: var(--card-title);
  color: var(--color-dimgray);
  text-align: left;
}
.service-info-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-55xl);
  background-color: var(--color-gainsboro-200);
  position: absolute;
  top: 444px;
  left: 131px;
  border-radius: var(--br-13xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.service-info-container:hover {
  background-color: var(--color-silver);
}
.hero-section1 {
  height: 697px;
  flex: 1;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  max-width: 100%;
}
.footer,
.hero-section-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-section-wrapper {
  width: 1447px;
  flex-direction: row;
  padding: 0 var(--padding-xl) var(--padding-68xl) 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--card-title);
}
.footer {
  width: 100%;
  position: relative;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .welcome-to-calvary2 {
    font-size: var(--font-size-19xl);
  }
  .hero-section-wrapper {
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-calvary2 {
    font-size: var(--font-size-10xl);
  }
  .we-love-god-container2 {
    font-size: var(--font-size-base);
  }
  .hero-section-wrapper {
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
}
