.church-image-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 1920px;
  object-fit: cover;
}
.welcome-to-calvary3 {
  margin: 0;
  position: absolute;
  top: 265px;
  left: 131px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.we-love-god3 {
  margin: 0;
  white-space: pre-wrap;
}
.we-love-god-container3 {
  position: absolute;
  top: 336px;
  left: 131px;
  font-size: var(--button-text-size);
  font-family: var(--font-sf-pro-text);
  display: inline-block;
  width: 585px;
  height: 81px;
  z-index: 1;
}
.service-info3 {
  position: relative;
  font-size: var(--button-text-size);
  text-transform: uppercase;
  font-family: var(--card-title1);
  color: var(--color-dimgray);
  text-align: left;
}
.service-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-55xl);
  background-color: var(--color-gainsboro-200);
  position: absolute;
  top: 444px;
  left: 131px;
  border-radius: var(--br-13xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.service-button:hover {
  background-color: var(--color-silver);
}
.hero1 {
  height: 686px;
  flex: 1;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  max-width: 100%;
}
.desktop-11,
.image-placeholder {
  display: flex;
  justify-content: flex-start;
}
.image-placeholder {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--card-title1);
}
.desktop-11 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .welcome-to-calvary3 {
    font-size: var(--font-size-19xl);
  }
  .image-placeholder {
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-calvary3 {
    font-size: var(--font-size-10xl);
  }
  .we-love-god-container3 {
    font-size: var(--font-size-base);
  }
  .image-placeholder {
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
