.unsplashnsn5labyy-m-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 1920px;
  object-fit: cover;
}
.welcome-to-calvary {
  margin: 0;
  position: absolute;
  top: 265px;
  left: 131px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.we-love-god {
  margin: 0;
  white-space: pre-wrap;
}
.service-info,
.we-love-god-container {
  font-size: var(--button-text-size);
  display: inline-block;
}
.we-love-god-container {
  position: absolute;
  top: 336px;
  left: 131px;
  font-family: var(--font-sf-pro-text);
  width: 585px;
  height: 81px;
  z-index: 1;
}
.service-info {
  position: relative;
  text-transform: capitalize;
  font-family: var(--button-text);
  color: var(--color-dimgray);
  text-align: left;
  min-width: 94px;
}
.service {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-66xl) var(--padding-sm);
  background-color: var(--color-honeydew);
  position: absolute;
  top: 444px;
  left: 131px;
  border-radius: var(--br-13xl);
  width: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.service:hover {
  background-color: var(--color-beige);
}
.hero-section {
  height: 686px;
  flex: 1;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  max-width: 100%;
}
.hero,
.home {
  display: flex;
  justify-content: flex-start;
}
.hero {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--card-title);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .welcome-to-calvary {
    font-size: var(--font-size-19xl);
  }
  .hero {
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-calvary {
    font-size: var(--font-size-10xl);
  }
  .we-love-god-container {
    font-size: var(--font-size-base);
  }
  .hero {
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
