.image-1-icon1 {
  height: 357px;
  width: 515px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.events2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
.events-link {
  height: 357px;
  width: 515px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-160xl);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 114%;
  text-align: left;
  font-size: var(--card-title-size);
  color: var(--color-black);
  font-family: var(--card-title1);
}
@media screen and (max-width: 1050px) {
  .events2 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .events2 {
    font-size: var(--font-size-lgi);
  }
  .events-link {
    padding-left: var(--padding-70xl);
    padding-right: var(--padding-70xl);
    box-sizing: border-box;
  }
}
