.new-here-let3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.form-enter-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.we-are-looking3 {
  margin: 0;
}
.we-are-looking-container3 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-lora-size);
  font-family: var(--font-sf-pro-text);
  text-align: center;
}
.form-enter-info-parent {
  width: 528px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.plan-a-visit3 {
  position: relative;
  font-size: var(--button-text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--card-title1);
  color: var(--color-dimgray);
  text-align: left;
  min-width: 126px;
}
.plan-visit-button,
.plan-visit-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.plan-visit-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-58xl);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-13xl);
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
}
.plan-visit-button:hover {
  background-color: var(--color-silver);
}
.plan-visit-button-wrapper {
  width: 528px;
  justify-content: center;
  max-width: 100%;
}
.new {
  margin-right: -3px;
  margin-bottom: 86px;
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-64xl) var(--padding-xl) var(--padding-63xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--card-title-size);
  color: var(--color-black);
  font-family: var(--card-title1);
}
@media screen and (max-width: 1050px) {
  .new-here-let3 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 750px) {
  .new {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 450px) {
  .new-here-let3 {
    font-size: var(--font-size-lgi);
  }
  .plan-visit-button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .new {
    padding-top: var(--padding-35xl);
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
}
