.get-to-know {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.get-to-know-us-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl);
}
.learn-about-our {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-sf-pro-text);
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.learn-more {
  position: relative;
  font-size: var(--button-text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--card-title);
  color: var(--color-dimgray);
  text-align: left;
  min-width: 127px;
}
.learn-more-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-57xl) var(--padding-mini)
    var(--padding-58xl);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-13xl);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.learn-more-button:hover {
  background-color: var(--color-silver);
}
.frame-parent,
.know-inner,
.learn-more-button,
.learn-more-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.learn-more-button-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-7xs);
}
.frame-parent,
.know-inner {
  flex-direction: column;
}
.frame-parent {
  align-self: stretch;
  gap: var(--gap-12xl);
}
.know-inner {
  width: 311px;
  padding: var(--padding-58xl) 0 0;
  box-sizing: border-box;
  min-width: 311px;
}
.know-image-icon {
  height: 363px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 350px;
}
.know,
.know-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.know {
  width: 930px;
  box-shadow: 0 3px 10.8px 5px rgba(197, 197, 197, 0.09);
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-33xl);
  gap: var(--gap-9xl);
}
.know-wrapper {
  width: 1418px;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-66xl);
  text-align: left;
  font-size: var(--card-title-size);
  color: var(--color-black);
  font-family: var(--card-title);
}
@media screen and (max-width: 1050px) {
  .get-to-know {
    font-size: var(--font-size-7xl);
  }
  .know-inner {
    flex: 1;
  }
  .know {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .know-image-icon {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .get-to-know {
    font-size: var(--font-size-lgi);
  }
  .learn-more-button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent {
    gap: var(--gap-mini);
  }
  .know-wrapper {
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
}
