@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria:wght@400&display=swap");
@font-face {
  font-family: "SF Pro Text";
  src: url("/public/sf-pro-text-regular.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --card-title1: "Source Serif Pro";
  --font-sf-pro-text: "SF Pro Text";
  --card-title: Lora;
  --button-text: "Crimson Text";
  --font-lustria: Lustria;

  /* font sizes */
  --font-size-base: 16px;
  --button-text-size: 20px;
  --card-title-size: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --body-text-lora-size: 18px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;

  /* Colors */
  --color-white: #fff;
  --color-lavender: #eaefff;
  --color-gray-100: #878787;
  --color-gray-200: rgba(255, 255, 255, 0.48);
  --color-black: #000;
  --color-lightgray: #d0d0d0;
  --color-honeydew: #dcffdd;
  --color-dimgray: #4d4d4d;
  --color-whitesmoke-100: #ececec;
  --color-whitesmoke-200: #eaeaea;
  --color-beige: #c2e6c4;
  --color-gainsboro-100: #e0e0e0;
  --color-gainsboro-200: #dfdfdf;
  --color-silver: #c7c7c7;

  /* Gaps */
  --gap-81xl: 100px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-xl: 20px;
  --gap-smi: 13px;
  --gap-4xs: 9px;
  --gap-9xl: 28px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-3xl: 22px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-mid: 17px;
  --gap-13xl: 32px;
  --gap-sm: 14px;
  --gap-251xl: 270px;
  --gap-116xl: 135px;
  --gap-48xl: 67px;
  --gap-15xl: 34px;
  --gap-lg: 18px;
  --gap-3xs: 10px;
  --gap-32xl: 51px;
  --gap-5xl: 24px;
  --gap-2xl: 21px;

  /* Paddings */
  --padding-52xl: 71px;
  --padding-115xl: 134px;
  --padding-8xl: 27px;
  --padding-48xl: 67px;
  --padding-14xl: 33px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-mini: 15px;
  --padding-2xs: 11px;
  --padding-xl: 20px;
  --padding-204xl: 223px;
  --padding-75xl: 94px;
  --padding-126xl: 145px;
  --padding-63xl: 82px;
  --padding-sm: 14px;
  --padding-17xl: 36px;
  --padding-134xl: 153px;
  --padding-57xl: 76px;
  --padding-160xl: 179px;
  --padding-70xl: 89px;
  --padding-67xl: 86px;
  --padding-37xl: 56px;
  --padding-64xl: 83px;
  --padding-35xl: 54px;
  --padding-34xl: 53px;
  --padding-58xl: 77px;
  --padding-19xl: 38px;
  --padding-66xl: 85px;
  --padding-36xl: 55px;
  --padding-33xl: 52px;
  --padding-7xs: 6px;
  --padding-21xl: 40px;
  --padding-15xl: 34px;
  --padding-5xl: 24px;
  --padding-4xs: 9px;
  --padding-6xl: 25px;
  --padding-2xl: 21px;
  --padding-55xl: 74px;
  --padding-93xl: 112px;
  --padding-smi: 13px;
  --padding-9xs: 4px;
  --padding-16xl: 35px;
  --padding-27xl: 46px;
  --padding-4xl: 23px;
  --padding-8xs: 5px;
  --padding-base: 16px;
  --padding-lgi: 19px;
  --padding-223xl: 242px;
  --padding-83xl: 102px;
  --padding-138xl: 157px;
  --padding-49xl: 68px;
  --padding-159xl: 178px;
  --padding-69xl: 88px;
  --padding-38xl: 57px;
  --padding-68xl: 87px;
  --padding-30xl: 49px;
  --padding-18xl: 37px;
  --padding-80xl: 99px;
  --padding-7xl: 26px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-13xl: 32px;
  --br-14xl: 33px;
}
